
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user-woman:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */