body {
  background-image: url("brandImg/tlo.png");
  color: rgb(22, 71, 89);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  width: 1400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 50px;
  margin-top: 20px;
  background-color: white;
}

p{
  text-align: justify;
}

.logo img {
  height: 70px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.logoSmallPhoto {
  float: left;
  padding-top: 6px;
}

.logoSmallPhoto img {
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
}

.logoPhotoContainer {
  margin-left: auto;
  margin-right: auto;
}

#toppage {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 20px;
}

#topNav {
  float: left;
  text-align: center;
  width: 1200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.navSmallPhoto {
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 10px;
}

.navSmallPhoto img {
  height: 20px;
  float: left;
}

#navSmallPhotoRight {
  float: left;
  padding-left: 0px;
}

#navSmallPhotoRight img {
  height: 20px;
  float: left;
  padding-top: 4px;
}

.menu {
  list-style-type: none;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 1100px;
  padding-top: 30px;
  padding-bottom: 60px;
  font-family: "Abril Fatface", normal;
  color: rgb(22, 71, 89);
  font-size: 25px;
  background-color: white;
  border-bottom-color: rgb(22, 71, 89);
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-radius: 10px;
}

.menu > ul {
  padding-left: 0px;
}

.menu a {
  color: rgb(22, 71, 89);
  text-decoration: none;
}

.menu a:hover {
  color: grey;
}

.menu a:link {
  text-decoration: none;
}

.menu > li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.categories {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1200px;
  padding: 0px;
}

header {
  background-color: white;
  width: 1200px;
}

header h1 {
    margin-top: 0px;
    font-family: "Abril Fatface", normal;
}

h1 {
  padding-top: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

article {
  float: left;
  margin-left: 100px;
}

footer {
  margin-top: 100px;
  padding-bottom:10px;
  padding-left:175px;
  margin-left: 100px;
  width: 1030px;
  height: 110px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: rgb(22, 71, 89);
}

.adres {
  text-align: center;
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 10px;
  float:left;
 
}

.facebook {
  float:left;
  padding-top:30px;
  padding-left:50px;
  padding-right: 70px;
}

.facebook a, .mailTo a, .adres a, #contact a{
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

.kontakt a {
  color: rgb(22, 71, 89);
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

.facebook a:hover, .mailTo a:hover, .adres a:hover {
  color: rgb(117, 115, 115);
  
}

.mailTo {
  float:left;
  padding-top:30px;
  padding-right: 150px;
  font-size: 40px;
}

p {
  padding: 20px;
}

.catPhoto {
  
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  width: 450px;
  height: auto;
  float: left;
  
  
}

 #contact{
  color:white;
  background-color:rgb(22, 71, 89);
  font-size: 20px;
 

}



.main {
  width: 1200px;
  height: 300px;
}

.catPhoto img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  
}

h2 {
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  background-color: rgb(22, 71, 89);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  font-family: "Abril Fatface";
  letter-spacing: 2px;
  font-weight:normal;
}

h3 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(22, 71, 89);
  padding: 5px;
  text-align: center;
}

h3 {
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(22, 71, 89);
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(22, 71, 89);
  text-emphasis: none;
}

.actualPhoto {
  width: 170px;
  float: left;
  padding-right: 20px;
  padding-top: 80px;

}



.acutalText {
  width: 500px;
  float: left;
  background-color: white;
  
}

.actualPhoto img {
  width: 170px;
  padding-top: 10px;
  border-radius:10%;
}

#aktualnosci {
  width: 970px;
}

#aktualnosci h3 {
  background-color: white;
  text-align: justify;
}

#aktualnosci h1 {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  width: 1000px;
}

.kontakt {
  text-align: center;
  font-size: 10px;
  font-family: "Abril Fatface", normal;
}

.downstairs {
  float: left;
  width: 1200px;
  height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 1100px;
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.middlepics {
  width: 1200px;
  height: auto;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  

}

.actualText a {
  color: rgb(22, 71, 89);
}

.actualText a:hover {
  color: grey;
}

.actualText a:link {
  text-decoration: none;
}

.catPhoto a {
  color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

.catPhoto a:hover {
  color: rgb(179, 177, 177);
}

.catPhoto a:link {
  text-decoration: none;
}

.asideSmallPhoto img {
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:70px;
  }

  .aside a {
    text-decoration: none;
    color:rgb(22, 71, 89);
  }

  .aside a:hover {
    color:rgb(48, 138, 170);
  }

  .text-left {
    text-align: left;
    
  }

  .whiteDiv {
    background-color: white;
  }

  button {
    padding:20px; 
    border-radius:10px;
  }

  .news {
    margin-top: 20px;
  }

  .smallActualPhoto {
    width: 150px;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
    
  }

  .smallActualPhoto img {
    width: 80px;
    border-radius: 50%;
  }

  .date {
    float: left;
    padding-top: 45px;
    padding-left: 0px;
    color:white;
    padding-right: 30px;
  }

  .acth2 {
    text-align: justify;
  }

  .symbolPhoto{
    float: left;
    height: 30px;
    margin-left: 380px;
    margin-right: 10px;
  }

  .symbolPhoto img {
    height: 25px;
  }

  .ulAct{
    text-align: left;
    list-style-type:none;
  }

  .actPhoto{
   max-width: 800px;
   max-height: 300px;
   padding-left:180;
  }